* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to top,

    rgb(240, 123, 152),
    rgb(246, 196, 209)
  );
  height: 100vh;
}
.main {
  background-color: white;
  width: 575px;
  min-height: 200px;
  height: auto;
  margin: auto;
  margin-top: 15px;
  box-shadow: 1px 1px 10px rgb(178, 173, 173);
  animation: slideDown;
  animation-delay: 0.4;
  animation-duration: 1s;
}
header,
section {
  margin-left: 230px;
}
h1 {
  font-size: 350%;
  margin-left: -50px;
  padding-top: 30px;

  animation: appear;
  animation-duration: 0.7s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#completed {
  font-size: larger;
  margin-left: 1rem;
  padding-top: 1rem;
  animation: appear;
  animation-duration: 0.7s;
  animation-delay: 1.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

input {
  margin-top: 2rem;
  width: 275px;
  height: 40px;
  margin-left: -105px;
}
.inputButton {
  display: flex;
  align-items: center;
  animation: appear;
  animation-duration: 0.7s;
  animation-delay: 1.4s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#inputField {
  padding-left: 7px;
  font-size: x-large;
}
#addBtn {
  width: 60px;
  height: 40px;
  font-size: x-large;
  margin-left: 9px;
  margin-top: 33px;
}
#addBtn:hover {
  opacity: 1.2;
}
#wrongMessageText {
  color: rgb(255, 0, 0);
  font-style: italic;
  font-weight: 500;
  font-style: arial;
  font-size: 132%;
  padding-top: 7px;
  margin-left: -35px;
}
.wrongMessageError {
  animation: blink;
  animation-duration: 1s;
}
#toDoContainer {
  padding-bottom: 35px;
}
ul {
  padding: 0.4rem;
  margin: 10px 0;
  animation: SlideUpTask;
  animation-duration: 0.6s;
}
.textLabel {
  font-size: 200%;
}
.textLabelOpacity {
  animation: textOpacity;
  animation-duration: 1.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.trashBtn {
  width: 40px;
  height: 30px;
  margin-bottom: -7px;
  margin-left: 10px;
  opacity: 0.6;
}
.trashBtn:hover {
  opacity: 1;
}
@keyframes slideDown {
  0% {
    transform: translateY(-500px);
    transition-timing-function: ease-in;
  }
  80% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes SlideUpTask {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes blink {
  0%,
  20%,
  60%,
  100% {
    opacity: 0;
  }

  40%,
  80% {
    opacity: 1;
  }
}
@keyframes textOpacity {
  0% {
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem;
  }

  100% {
    opacity: 0.3;
    transition-delay: 2s;
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem;
  }
}
